ol {
  list-style: none;
  padding-left: 0;
}

.score-label {
  cursor: auto;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}

.score-label:active,
.score-label:focus,
.score-label.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.scoreButtons {
  margin-right: 10px;
}

.addContainer {
  background-color: #F8F8F8;
  padding: 40px;
  border-radius: 10px;
}

.sortButtons {
  margin-top: 40px;
  margin-bottom: 40px;
}

#wrapper {
  display: flex;
}
#left {
  flex: 0 0 65%;
  padding: 40px;
}
#right {
  flex: 1;
  padding: 40px;
}
#containerLeft {
  flex: 0 0 01%;
  padding: 5px;
}
#containerRight {
  flex: 1;
  padding: 5px;
}